<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  
  </configSections>
  <connectionStrings>
    <add name="ExactusConnection" connectionString="data source=192.168.3.4;initial catalog=prueba_vieja;user id=;password=" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="schema" value="bremen" />
  </appSettings>
  
  <dataConfiguration defaultDatabase="ExactusConnection" />
</configuration>